.shop-form {
    background: #fff;
    border-radius: 0.25rem;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    max-height: 75vh;
    // max-width: 800px;
    overflow: scroll;
    padding: 1.5rem;
    // position: center;
    // right: 1%;
    top: 3.5rem;
    width: 90%;
}
